/****Generale*****/

body {
  margin: 0;
  background-color: #f6f6f6;
  font-family: "roboto", sans-serif;
  overflow: auto;
}

.fontsize {
  font-size: 30px;
}

.padding {
  padding: 0 10px;
}

/******Header*****/

header .logo {
  font-family: "Shrikhand", cursive;
  font: size 2em;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

header {
  box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 20%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}

/*****main*******/

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  background-color: rgb(214, 206, 221);
  cursor: pointer;
}

.localisation_icon {
  padding-right: 10px;
  margin-right: 10px;
}

/*******food*****/

.food {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.food .title {
  text-align: center;
  font-size: 1.6em;
}

.food .text {
  text-align: center;
  font-size: 1em;
}

.food .button {
  background-color: #ff79da;
  border-radius: 20px;
  padding: 0 15px 0 15px;
  font-weight: bold;
  color: seashell;
  cursor: pointer;
  box-shadow: 5px 0 6px black;
  background-image: linear-gradient(mediumorchid, #ff79da);
}

.food .button:hover {
  transform: scale(1.02);
}

/*****class operatipons*****/
.operations {
  padding: 20px 25px 70px 25px;
  background-color: white;
}
.operations .choice {
  border-radius: 30px;
  background-color: #f6f6f6;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  position: relative;
  padding: 30px 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

span {
  font-weight: bold;
}

.operations .choice:hover {
  background-image: linear-gradient(rgb(231, 221, 221), rgb(182, 170, 170));
  transform: scale(1.01);
}
.choice + .choice {
  margin-top: 25px;
}
.operations .choice i {
  margin-right: 15px;
}

.color {
  color: #9356dc;
}

.operations .choice__number {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  color: #f6f6f6;
  position: absolute;
  left: -11px;
  cursor: pointer;
}

/****Restaurant****/

.restaurant .cards .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-left: 15px;
  border-radius: inherit;
  padding: 15px 15px;
}

.restaurant .cards .title {
  font-weight: bold;
  font-size: large;
}
.restaurant .cards .new {
  padding: 5px 10px;
  background-color: #99e2d0;
  border: 2px solid #99e2d0;
  width: 50px;
  border-radius: 3px;
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  color: #397a6a;
}

.restaurant {
  padding-left: 20px;
}
.restaurant .cards {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.restaurant .cards .card {
  background-color: white;
  height: 280px;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 25px;
  width: 400px;
}

.restaurant .cards .card:hover {
  transform: scale(1.01);
}

.restaurant .cards .card .picture {
  background-size: cover;
  background-position: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  object-fit: cover;
  width: 100%;
  flex: 1;
  position: relative;
}

.restaurant .cards .card1 .picture {
  background-image: url(" ../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.restaurant .cards .card2 .picture {
  background-image: url("../images/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.restaurant .cards .card3 .picture {
  background-image: url("../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.restaurant .cards .card4 .picture {
  background-image: url("../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.marging {
  margin: 20px 0 0;
}

.restaurant .cards .far {
  opacity: 0.6;
  font-size: 30px;
}

.restaurant .cards .fas {
  font-size: 30px;
  color: mediumorchid;
  transform: translate(-34.4px);
  font-size: 30px;
  opacity: 0;
  transition: ease-in 1s;
}

.restaurant .cards .fas:hover {
  opacity: 1;
}
/**** footer*****/
footer {
  line-height: 30px;
  background-color: #353535;
  color: blanchedalmond;
  margin-top: 20px;
  padding: 5px 5px 30px 5px;
  outline: none;
}
footer .pied {
  margin-left: 25px;
}

.icon_titre {
  display: flex;
  align-items: center;
}

footer .titre {
  padding: 10px;
}
footer .logo {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
}

* a {
  color: black;
  text-decoration: none;
}

footer a {
  color: #f6f6f6;
}

/*****media*******/

@media screen and (min-width: 768px) {
  .restaurant .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  footer .pied {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
}
/********LOADER*******/

.wating {
  position: fixed;
  height: 100vh;
  inset: 0px;
  background-color: #e4ebe8d7;
  opacity: 0.9;
  animation: scrol 3s 3s;
  animation-fill-mode: forwards;
  z-index: 4;
  visibility: visible;
  transform-origin: top;
}

.loader {
  position: fixed;
  top: 50%;
  right: 50%;
  left: 50%;
  border: 18px solid #bdc3c7;
  width: 140px;
  height: 140px;
  border-left-color: chartreuse;
  border-right-color: darkblue;
  border-radius: 50%;
  animation: wait 1s 0s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes wait {
  0% {
    transform: rotate(0deg) scale(1);
    border-left-color: darkgreen;
    border-right-color: darkmagenta;
    visibility: visible;
  }
  25% {
    border-left-color: rgb(13, 119, 21);
    border-right-color: rgb(37, 185, 69);
  }
  37% {
    border-bottom-color: #ff79da;
    border-top-color: chartreuse;
  }

  50% {
    transform: rotate(360deg) scale(1.15);
    border-left-color: blue;
    border-right-color: blue;
  }
  75% {
    border-left-color: green;
    border-right-color: green;
  }
  100% {
    transform: rotate(720deg) scale(1);
    border-left-color: red;
    border-right-color: red;
    visibility: hidden;
  }
}
@keyframes scrol {
  to {
    transform: scale(0);
  }
}

@keyframes scroll {
  from {
    visibility: visible;
  }

  to {
    transform: scale(0);
    visibility: hidden;
  }
}
