body {
  margin: 0;
  background-color: #f6f6f6;
  font-family: "roboto", sans-serif;
}

/******Header*****/

header .logo {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
  color: #000;
  outline: none;
  text-decoration: none;
}

img {
  margin-bottom: -50px;
  object-fit: cover;
  object-position: bottom;
  display: block;
}

header {
  box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 20%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}

.fleche .fa-arrow-left {
  position: absolute;
  left: 40px;
  top: 23px;
  font-size: 35px;
  cursor: pointer;
}

.fontsize {
  font-size: 30px;
}

/******section menu *****/

.menu4 .menu4a h1 {
  padding-left: 25px;
}

section .menu {
  width: 100%;
}

.position {
  position: absolute;
  right: 35px;
  margin-right: auto;
  font-size: 30px;
}

.menu4 .menu4a .far {
  opacity: 1;
}

.menu4 .menu4a .fas {
  opacity: 0;
  color: rgb(137, 75, 153);
  transition: ease-in-out 1s;
  cursor: pointer;
  transform: scale(1.08);
}

.menu4 .menu4a .fas:hover {
  opacity: 1;
}

.menu4 .menu4a h1 {
  padding-left: 25px;
  font-family: "Shrikhand", cursive;
}

section {
  background-color: rgb(231, 225, 225);
  border-radius: 30px 30px 0 0;
  margin-top: -50px;
}

section .menu {
  width: 100%;
}

h2 {
  border-bottom: 4px solid #99e2d0;
  width: 45px;
  margin-left: 15px;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 1.2em;
}

.menu4 .menu4a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  background-color: rgb(231, 225, 225);
  width: 100%;
  max-width: 900px;
  line-height: 25px;
  padding: 15px;
  margin: 15px;
  position: relative;
}

.menu4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.menu4 .dish {
  display: flex;
  border-radius: 10px;
  background-color: rgb(248, 246, 246);
  padding: 15px;
  margin: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: padding-right 500ms;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu4 .dish:hover {
  padding-right: 90px;
}

.menu4 .dish .description {
  flex: 1;
  min-width: 0;
}

.menu4 .dish .description .name {
  font-weight: bold;
  margin-bottom: 10px;
}

.menu4 .dish .description .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu4 .dish .price {
  align-self: flex-end;
  font-weight: bold;
}

.menu4 .dish .check {
  background-color: aqua;
  color: white;
  display: flex;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  transition: margin-right 500ms;
  margin-right: -70px;
}

.menu4 .dish:hover .check {
  margin-right: 0;
}

.menu4 .dish:hover .check .fas {
  transition: transform 500ms;
  transform: rotate(360deg);
}

.button-com {
  color: white;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 15px 40px;
  margin: 45px 0;
  font-size: 18px;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  cursor: pointer;
  opacity: 1;
  background-image: linear-gradient(mediumorchid, #ff79da);
}

.button-com:hover {
  background-image: linear-gradient(mediumorchid, #ff79da);
  color: #271313;
  opacity: 0.7;
}

/**** footer*****/
footer {
  line-height: 20px;
  background-color: #353535;
  color: blanchedalmond;
  padding-top: 5px 5px 30px 5px;
}
footer .pied {
  margin-left: 25px;
  padding-top: 10px;
}

.icon_titre {
  display: flex;
  align-items: center;
}

footer .titre {
  padding: 10px;
}

footer a {
  color: #f6f6f6;
  outline: none;
}

* a {
  color: black;
  text-decoration: none;
}

footer .logo {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
}

@media screen and (min-width: 900px) {
  footer .pied {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .img {
    height: 500px;
  }
}
